<!--Form-->
<template name="cpanel_eventReport">
    {{#autoForm schema=Cpanel.Schema.EventReport id="cpanel_eventReport" action="eventReportGen" target="_blank"}}
        <div class="row">
            <div class="col-md-6">
                {{> afQuickField name='user'}}
                {{> afQuickField name='type'}}
                {{> afQuickField name='module'}}
            </div>
            <div class="col-md-6">
                {{> afQuickField name='branch'}}
                {{> afQuickField name='date'}}
                <button type="submit" class="btn btn-primary">{{fa "file-text"}} Generate</button>
                <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
            </div>
        </div>
    {{/autoForm}}
</template>


<!--Generate-->
<template name="cpanel_eventReportGen">

    <!--Title-->
    <div class="report-title">
        <span class="report-company-name">{{title.company.enName}}</span><br>
        {{title.reportName}}<br>
        Date: {{title.date}}<br>
    </div>

    <!--Header-->
    <table width="100%" border="0">
        {{#each header}}
            <tr>
                <td width="50%">{{col1}}</td>
                <td>{{col2}}</td>
            </tr>
        {{/each}}
    </table>

    <!--Content-->
    {{#if content}}
        <table class="report-content">
            <thead class="report-content-header">
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Module</th>
                <th>Branch</th>
            </tr>
            </thead>

            <tbody class="report-content-body">
            {{#each content}}
                <tr>
                    <td>{{date}}</td>
                    <td>{{type}}</td>
                    <td>{{description}}</td>
                    <td>{{module}}</td>
                    <td>{{branch}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        {{> noResults}}
    {{/if}}

    <!--Sign-->
    {{> signFooter}}
</template>
