<template name="cpanel_navbar">
    <ul class="nav navbar-nav">
        <li class="{{isActiveRoute regex='cpanel.home'}}">
            <a href="{{pathFor 'cpanel.home'}}">Home</a>
        </li>
        <li class="{{isActiveRoute regex='cpanel.exchange'}}">
            <a href="{{pathFor 'cpanel.exchange'}}">Exchange</a>
        </li>
        <!--<li class="{{isActiveRoute regex='cpanel.company'}}">-->
            <!--<a href="{{pathFor 'cpanel.company'}}">Company</a>-->
        <!--</li>-->
        <li class="{{isActiveRoute regex='cpanel.branch'}}">
            <a href="{{pathFor 'cpanel.branch'}}">Branch</a>
        </li>
        <li class="{{isActiveRoute regex='cpanel.setting'}}">
            <a href="{{pathFor 'cpanel.setting'}}">Setting</a>
        </li>
        <li class="{{isActiveRoute regex='cpanel.user'}}">
            <a href="{{pathFor 'cpanel.user'}}">User</a>
        </li>
    </ul>
</template>
