<template name="layoutHeader">
    <!-- header -->
    <div id="navbar" class="navbar-collapse collapse">
        {{#if navbar.show}}
            <!--{{> navbar}}-->
            {{> Template.dynamic template=navbar.template}}
        {{/if}}

        <!--<form class="navbar-form navbar-right" role="search">-->
            <!--{{> i18n_dropdown}}-->
        <!--</form>-->

        <ul class="nav navbar-nav navbar-right">
            {{#if currentBranch.show}}
                <li><a href="{{pathFor 'app.welcome'}}"><i class="fa fa-sitemap"></i> {{currentBranch.title}}
                </a></li>
            {{/if}}

            {{> loginButtons}}
        </ul>

    </div>
    <!-- /header -->
</template>
