<template name="app_navbar">
    <ul class="nav navbar-nav">
        <li class="{{isActiveRoute regex='app.home'}}">
            <a href="{{pathFor 'app.home'}}">Home</a>
        </li>
        <li class="{{isActiveRoute regex='app.exchange'}}">
            <a href="{{pathFor 'app.exchange'}}">Exchange</a>
        </li>
        <li class="{{isActiveRoute regex='app.company'}}">
            <a href="{{pathFor 'app.company'}}">Company</a>
        </li>
        <li class="{{isActiveRoute regex='app.branch'}}">
            <a href="{{pathFor 'app.branch'}}">Branch</a>
        </li>
        <li class="{{isActiveRoute regex='app.user'}}">
            <a href="{{pathFor 'app.user'}}">User</a>
        </li>
    </ul>
</template>
