<!--Index-->
<template name="app_user">
    <p>
        <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
    </p>

    {{> tabular table=App.TabularTable.User class="table table-striped table-bordered table-condensed table-hover"}}
</template>

<!--Action-->
<template name="app_userAction">
    {{#tabularAction}}
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="app_userInsert">
    {{#autoForm schema=App.Schema.User id="app_userInsert"}}
        <div class="row">
            <div class="col-xs-6">
                {{> afQuickField name='username'}}
                {{> afQuickField name='email'}}
                {{> afQuickField name='password' type="password"}}
                {{> afQuickField name='confirmPassword' type="password"}}
                {{> afQuickField name='profile.fullName'}}
            </div>
            <div class="col-xs-6">
                {{> afQuickField name='role' size=8}}
                {{> afQuickField name='profile.branch' size=7}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<!--Update-->
<template name="app_userUpdate">
    {{#autoForm schema=App.Schema.User id="app_userUpdate" doc=this}}
        <div class="row">
            <div class="col-xs-6">
                {{> afQuickField name='username'}}
                {{> afQuickField name='email'}}
                {{> afQuickField name='password' type="password"}}
                {{> afQuickField name='confirmPassword' type="password"}}
                {{> afQuickField name='profile.fullName'}}
            </div>
            <div class="col-xs-6">
                {{> afQuickField name='role' size=8}}
                {{> afQuickField name='profile.branch' size=7}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<!--Show-->
<template name="app_userShow">
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{_id}}</dd>
        <dt>Username</dt>
        <dd>{{username}}</dd>
        <dt>Email</dt>
        <dd>{{emails}}</dd>
        <dt>Full Name</dt>
        <dd>{{profile.fullName}}</dd>
        <dt>Branch</dt>
        <dd>{{profile.branch}}</dd>
        <dt>Role</dt>
        <dd>{{roles}}</dd>
    </dl>
</template>

